slack_token: secret_slack_token
bot_name: da-bot
command_trigger: '!'
admins:
  - tinyzimmer

# name of file inside ./plugins
enabled_plugins:
  #  - google
  #  - excuses
  #  - gitlab
  #  - jenkins
  #  - gitlab-jenkins-bridge
  #  - confluence
  #  - chatterbot

# gitlab stuf
gitlab_url: https://git.example.com
gitlab_token: secret_gitlab_token
gitlab_active_channel: gitchannel

# jenkins stuff
jenkins_username: jenkins_username
jenkins_token: secret_jenkins_token
jenkins_hostname: https://jenkins.example.com
jenkins_active_channel: buildchannel

# google stuff
google_api_key: google_api_key
search_engine_id: google_search_engine_id

# confluence stuff
confluence_url: 'https://confluence.example.com'
confluence_space: 'CSPACE'
confluence_google_fallback: true
